<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <br>
    <h1>Tickets por rango de fechas</h1>
    <hr>
    <div class="container">
        <form method="POST">
            
            <div class="form-group">
                <h1>Fecha inicio:</h1>
                <input type="number" placeholder="dia inicio" name="diai"> 
                <input type="number" placeholder="mes inicio" name="mesi">
                <input type="number" placeholder="año inicio" name="anioi">  
            </div>
            <br>
            <div class="form-group">
                <h1>Fecha fin:</h1>
                <input type="number" placeholder="dia fin" name="diaf"> 
                <input type="number" placeholder="mes fin" name="mesf">
                <input type="number" placeholder="año fin" name="aniof">  
            </div>
            <br>
            <div class="form-group">
            <input type="submit" value="Consultar" class="btn btn-success">
            </div>
        </form>
    </div>

    <table class="table-striped table-bordered active table">
        <tr>
            <th>Fecha del ticket</th>
            <th>Correo del usuario solicitante</th>
            <th>Titulo del ticket</th>
            <th>Descripción el ticket</th>
        </tr>
        <% if(result.rows) { for (var i=0; i<result.rows.length; i++) { %>
            <tr>
                <td><%=result.rows[i].fecha.year%>-<%=result.rows[i].fecha.month%>-<%=result.rows[i].fecha.day%></td>
                <td><%=result.rows[i].correo%></td>
                <td><%=result.rows[i].titulo%></td>
                <td><%=result.rows[i].descripcion%></td>
            </tr>
        <%}}%>
    </table>
   
</body>
</html>